.slider {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto 0;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.slider img {
  poiner-events: none;
}

.slider-list {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing{
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  width: 200px;
  height: 200px;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.slider-arrows {
  margin-top: 15px;
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}




/* taglist */
::-webkit-scrollbar { /* chrome based */
	width: 0px;  /* ширина scrollbar'a */
	background: transparent;  /* опционально */
}

.taglist__list {
	/* width: 100%; */
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
  /* scroll-padding: 50%; */
}

.taglist__item {
	border: 1px solid #000;
	padding: 20px 50px;
	border-radius: 100px;
	margin-right: 20px;
}

@media (max-width: 768px) {
	.taglist__list {
		/* width: 100%; */
		flex-wrap: nowrap;
		overflow-x: scroll;
		scroll-snap-type: y mandatory;
		/* scroll-padding: 50%; */
		overflow: -moz-scrollbars-none;
	}
	.taglist__item {
		scroll-snap-align: start;
	}
}

